* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #52b3eb;
  font-family: 'Open Sans';
  font-size: 1.2em;
}
.checkbox {
  background-color: #fff;
  padding: 0.4em;
}
input {
  border: none;
  font: inherit;
  padding: 0.4em;
}

input:focus {
  outline: 0;
  border: 0;
}

.pin-button {
  width: 50px;
  height: 100%;
}
.icon-star {
  content: '★';
  color: black;
  width: 50px;
  height: 50px;
}
