* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #52b3eb;
  font-family: 'Open Sans';
  font-size: 1.2em;
}
span {
  display: inline-block;
}
input,
button {
  border: none;
  font: inherit;
  background: none;
}
.list-items {
  background-color: white;
}
.list-item {
  width: 100%;
  background-color: white;
  position: relative;
  padding: 0.4em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.checkbox {
  padding-right: 0.4em;
}
.pin-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
}
.icon-star {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(167, 167, 167);
}
.icon-star.active {
  color: #52b3eb;
}
.loading-item {
  display: flex;
  align-items: center;
  padding: 0.6em;
}
.loading-item .glow-checkbox {
  background-color: rgb(212, 212, 212);
  margin-right: 0.6em;
  width: 15px;
  height: 15px;
  animation: glow 1.2s infinite alternate;
}
.loading-item .glow-text {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1em;
}
.loading-item .glow-text span {
  display: block;
  width: 65px;
  height: 30px;
  background-color: rgb(212, 212, 212);
  animation: glow 1.2s infinite alternate;
}

.wrapper-message {
  display: flex;
  padding: 3em 10px;
  flex-direction: column;
  align-items: center;
}
.title-message {
  font-weight: 600;
}

@keyframes glow {
  0% {
    background-color: rgb(212, 212, 212);
  }
  100% {
    background-color: rgb(230, 230, 230);
  }
}
